/* moving footer to the bottom of the page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* icons */
.icon {
    font-size: 30px;
}

.main {
    padding: 60px;
    font-size: 19px;
}

.port {
    padding: 10px;
}

.contact {
    display: flex;
    align-items: center;
}

.contactTitle {
    color: rgb(108, 108, 108);
    font-size: 25px;
}